.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: #020000;
    text-decoration: none;
}

.hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(197, 28, 28);
}