.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 150px;
}

.formItem {
    display: table-row;
    align-self: center;
    padding: 5px;
}

.formLabel {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.formInput {
    margin-bottom: 10px;
}

.formAction {
    margin-top: 30px;
}

.h3 {
    padding-top: 20px;
    font-size: 18px;
}

.form_btn {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 128, 32);
    text-decoration: none;
    width: 120px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    font-weight: 500;
}