.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.formItem {
    display: table-row;
    align-self: center;
    padding: 5px;
}

.formLabel {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.formInput {
    margin-bottom: 10px;
}

.formAction {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    font-size: 18px;
}

.form_btn {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 170, 40);
    text-decoration: none;
    width: 100px;
    border-radius: 4px;
    padding: 6px;
    margin: 10px;
    border: none;
    font-weight: 500;
}