.img {
    height: 220px;
    width: auto;
    margin: 10px;
    padding-bottom: 10px;
}

.name {
    font-size: 20px;
    width: 200px;
    padding-bottom: 10px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    align-items: center;
}
    
.btn {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 128, 32);
    text-decoration: none;
    width: 110px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
}