.item {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
}

.img {
    width: 80px;
    padding-bottom: 20px;
}

.name {
    font-size: 18px;
    width: 300px;
}

.price {
    font-size: 18px;
}

.rmv_btn {
        color: rgb(255, 255, 255);
        background-color: rgb(211, 39, 53);
        text-decoration: none;
        width: 100px;
        border-radius: 4px;
        padding: 5px;
        border: none;
}