.counter_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.counter_title {
    font-size: 20px;
    color: #fff;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    color: #fff;
}

.counter_btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
}