.counter_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.counter {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #fff;
}

.counter_btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
}