.counter_div {
    display: flex;
    flex-direction: row;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #000000;
}

.counter_btn {
    border: none;
    background-color: transparent;
    color: #000000;
    font-size: 30px;
}

.addToCart_btn {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 128, 32);
    text-decoration: none;
    width: 110px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    border: none;
}